.latest-review-section {
  background: url('../../assets/img/news.jpg') 100% no-repeat;
  background-size: cover;
  min-height: auto;
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 2;

  .latest-review-section-text {
    color: $base-grey-color;
    text-shadow: 1px 1px 2px $black;

    h5 {padding: 4rem 0 1.5rem 0;}
    p {padding-bottom: 1rem;}

  }

}
.latest-review-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
