<section class="about-preview">
  <h2>About</h2>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus pretium quam vulputate dignissim. Eu non diam phasellus vestibulum lorem sed. Lacus vestibulum sed arcu non odio euismod lacinia. Magna ac placerat vestibulum lectus mauris ultrices. Congue eu consequat ac felis donec et. Vel quam elementum pulvinar etiam. Aliquam eleifend mi in nulla posuere sollicitudin. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Faucibus nisl tincidunt eget nullam non nisi. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. </p>
</section>
