<section class="section-of-cards">
  <div class="grid-cointainer">
    <div class="grid-x grid-padding-x small-up-1 medium-up-3">

      <div class="cell">
        <a href="hardware.html">
          <div class="card">
            <img src="assets/img/hardware.jpg" alt="smart glasses">
            <div class="card-section">
              <h4 class="text-center">Hardware</h4>
            </div>
          </div>
        </a>
      </div>


      <div class="cell">
        <a href="#">
          <div class="card">
            <img src="assets/img/application.jpg" alt="worker">
            <div class="card-section">
              <h4 class="text-center">Application</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="cell">
        <a href="reviews.html">
          <div class="card">
            <img src="assets/img/reviews.jpg" alt="cup of coffee and a form">
            <div class="card-section">
              <h4 class="text-center">Reviews</h4>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
