<nav class="top-bar-container" data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: index; marginTop: 0;">

    <div class="top-bar menu-hover-lines hide-for-small-only">
      <div class="top-bar-left">
        <img src="/assets/img/logo.png" alt="logo">
      </div>
      <div class="top-bar-right">
          <ul class="menu">
            {{> menu-links}}
          </ul>
      </div>
    </div>

    <div class="title-bar hide-for-medium">
      <div class="title-bar-left">
        <img src="/assets/img/logo.png" alt="logo">
      </div>
      <div class="title-bar-right">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      </div>
    </div>

  </div>
</nav>
