<div class="grid-x grid-padding-x">
  <div class="small-12">

    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Smartglasses</a>
        <div class="accordion-content" data-tab-content >
          {{> product-cards-section}}
        </div>
      </li>

      <li class="accordion-item text-right" data-accordion-item>
        <a href="#" class="accordion-title">Tablets</a>
        <div class="accordion-content" data-tab-content>
          {{> product-cards-section}}
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Smartwatches</a>
        <div class="accordion-content" data-tab-content>
          {{> product-cards-section}}
        </div>
      </li>

    </ul>
    <div class="small-1 text-right">
      <button class="hollow button">Compare</button>
    </div>
  </div>
</div>
