<div class="grid-x grid-padding-x">
  <header class="hero-section">
    <div class="hero-section-text">
      <div class="small-12">
        <h1>Smart Wearables Benchmark</h1>
      </div>
      <div class="small-12 text-justify">
        <h5>Welcome to the one and only platform available to compare performances and features of smartglasses, tablets and smartwatches.</h5>
        <div class="button-home-header small-1 text-right">
          <button class="hollow button" href="#about">Learn more</button>
        </div>
      </div>
    </div>
  </header>
</div>
