<header class="latest-review-section">
  <div class="latest-review-section-text">
    <h2>Latest Review</h2>
    <div class="content">
      <h5>Lorem ipsum - 01.01.2017</h5>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Risus pretium quam vulputate dignissim. Eu non diam phasellus vestibulum lorem sed.
        Lacus vestibulum sed arcu non odio euismod lacinia. Magna ac placerat vestibulum lectus mauris ultrices.
        Congue eu consequat ac felis donec et. Vel quam elementum pulvinar etiam.
        Aliquam eleifend mi in nulla posuere sollicitudin.
        Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices... </p>
    </div>
    <div class="button-test">
      <button class="hollow button" href="#">Read more</button>
    </div>
  </div>
</header>
