<section class="section-of-cards products">
  <div class="grid-cointainer">
    <div class="grid-x grid-padding-x small-up-1 medium-up-3">

      <div class="cell selectable">
        <a>

          <div class="card">
            <img src="assets/img/gg.png" alt="google glasses">

            <div class="card-section">
              <h4 class="text-center">Google Glass V3</h4>

              <div class="text-center display-on-hover">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </div>
              <div class="text-right display-on-hover">
                <button class="clear button" data-open="spec-sheet">More</button>
              </div>
            </div>

          </div>

        </a>
      </div>


      <div class="cell selectable">
        <a>

          <div class="card">
            <img src="assets/img/odg.png" alt="smart glasses">

            <div class="card-section">
              <h4 class="text-center">ODG R-7</h4>

              <div class="text-center display-on-hover">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <div class="text-right display-on-hover">
                <button class="clear button">More</button>
              </div>
            </div>

          </div>

        </a>
      </div>

      <div class="cell selectable">
        <a>

          <div class="card">
            <img src="assets/img/vuzix.png" alt="smart glasses">

            <div class="card-section">
              <h4 class="text-center">Vuzix M100</h4>
              <div class="text-center display-on-hover">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <div class="text-right display-on-hover">
                <button class="clear button">More</button>
              </div>
            </div>

          </div>

        </a>
      </div>

    </div>
  </div>

  {{> specifications-sheet}}

</section>
