<div class="large reveal" id="spec-sheet" data-reveal>
  <div class="grid-x grid-padding-x">
    <div class="small-8 text-left">
      <div class="small-8 text-left">
        <h1>Google Glass V3</h1>
      </div>
      <div class="small-12 text-left">
        <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="small-4 text-left">
      <img src="assets/img/gg-transparent.png" alt="google glass">
    </div>

    <div class="small-12 text-left">
      <h3>Display</h3>
      <h5>High resolution display is equivalent of a 25 inch high definition screen from eight feet away.</h5>

      <h3>Camera</h3>
      <h5>Photos - 5 MP</h5>
      <h5>Videos - 720p</h5>

      <h3>Audio</h3>
      <h5>Bone Conduction Transducer</h5>

      <h3>Conectivity</h3>
      <h5>Wifi - 802.11 b/g</h5>
      <h5>Bluetooth</h5>

      <h3>Fit</h3>
      <h5>Adjustable nosepads and durable frame fits any face.<br> Extra nosepads in two sizes.</h5>

      <h3>Storage</h3>
      <h5>12 GB of usable memory, synced with Google cloud storage.<br>16GB Flash total.</h5>

      <h3>Battery</h3>
      <h5>One full day of typical use. Some features, like Hangouts and video recording, are more battery intensive.</h5>

      <h3>Charger</h3>
      <h5>Included Micro USB cable and charger.</h5>
      <h5>While there are thousands of Micro USB chargers out there, Glass is designed and tested with the included charger in mind. Use it and preserve long and prosperous Glass use.</h5>

      <h3>Compatibility</h3>
      <h5>The MyGlass companion app lets you set up Glassware, screencast and other features. It's available for Android and iOS.</h5>
      <h5 class="indent-me">MyGlass for Android requires Android 4.0.3 (Ice Cream Sandwich) or higher.</h5>
      <h5 class="indent-me">MyGlass for iOS requires iOS 7 or later (iPhone4 and above. iPad 2 and above with celular connection)</h5>
      <h5>Glass can be used as a Bluetooth headset with any Bluetooth compatible phone.</h5>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
